{{#if non_relative}}
{{#each non_relative}}
<div class="calendar-day" style="z-index: 3; height: 100px; padding-top: 5px; ">
  <!-- day date -->
  <div class="calendar-date" style="line-height: 18px; margin-top: -7px; ">
    <span>{{{parsedPretyDateDayMonth fecha_cita}}} <br/>
    <b style="font-size: 12px;">{{parsedPretyHour fecha_cita}}</b></span>
  </div>
  <!-- day colored activity -->

  <a id="get-to-{{@index}}" >
  <div class="calendar-activity {{compareDate fecha_cita}}" style="min-height: 60px;height: 90%; line-height: 18px; " >
    <!--  <a id="sa-success" class="mdl-button mdl-js-button"><i class="material-icons">close</i></a> -->
    <span style="font-size: 15px; font-weight: 300;"><i class="fa fa-user" aria-hidden="true"></i> {{contacto_nombre}}</span><br/>
    <span style="font-size: 12px; font-weight: bold; margin-top: -7px;"><i class="fa fa-industry" aria-hidden="true"></i> {{contacto_empresa}}</span>
   <!--  <span class="calendar-hour">{{parsedPretyDate fecha_cita}}</span>
    <b>{{parsedPretyHour fecha_cita}}</b> -->
  </div></div>
  <script>
    
    $("#get-to-{{@index}}").click(function(){
      var selected = "{{json this}}"
      var extract =  JSON.parse(selected.replace(/&quot;/g,'"'));
      loadView(extract,'meeting','load-in-body');
    });
  </script>
  <div class="clr"></div><hr style="opacity: 0.4; padding: 0;">
</a>
{{/each}}
{{else}}
  <center>No matches found for this user <br/> <a href="#" onclick="calendar()">return to calendar</a>.</center>
{{/if}}

